:root {
  --first-background-color: #d654b3;
  --secondary-background-color: #821565;
  --default-background-color: #fff;
  --third-background-color: #f50519;
  --fourth-background-color: #8528f7;
  --fifth-background-color: #984579;
  --sixth-background-color: #984eee;
  --seventh-background-color: #baaaf0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
